<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  // 这是指定输出目标
  <targets>
    // 这个 是输出按照年月日文件夹分类的文件内
    <target name="logfile" xsi:type="File"         fileName="${basedir}/Logs/${date:format=yyyy}/${date:format=MM}/${shortdate}.log" />
    <target name="logconsole" xsi:type="Console" />
  </targets>
  //输出规则
  <rules>
    //最低日志等级是info，大于等于info的输出到文件中
    <logger name="*" minlevel="Info" writeTo="logfile" />
    //最低日志等级Debug 输出到控制台
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
  </rules>
</nlog>